#MacOS X
*.DS_Store

#Terraform
*.tfstate*
*.terraform
*.tfvars
credentials.json
TSISOMEID*
terraform/aws/*

#Ansible
*/vendor/*
*/tmp/*
*.retry

#Test
env.json

#deployments
*deployments/*

*.log
volumes_mapping.json

myREADME.md

indigo-dc_ansible-role-slurm/*
ansible/ansible\.cfg
